<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section class="dimmed" id="banner">
            <div class="inner">
              <p>Code for SF’s 2016 Fundraising Goal</p>
              <h2>$20,000</h2>
              <p>Tracking to Goal as of the end of April 2016</p>
              <h2>17%</h2>
              <ul class="actions">
                <li><a href="https://secure.codeforamerica.org/page/contribute/" class="button big special">Donate</a></li>
              </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
